.link {
    color: #333;
    text-decoration: none;
    padding: 8px;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .link:hover {
    background-color: #ddd;
  }
  
  .navigation li{
    margin-top: 20px;
  }